certifi==2019.11.28
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.7
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pyTelegramBotAPI==3.6.7
requests==2.20.0
six==1.13.0
telebot==0.0.3
urllib3==1.24.3
Werkzeug==0.16.0
